.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffffff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo-img {
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);}

.dashboard-title {
  color: #007bff; 
  margin: 0;
  font-size: 1.5rem;
  transition: font-size 0.3s ease;
}

.dashboard-title:hover {
  color: #0056b3; 
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  border: 2px solid #ddd;
  border-radius: 50%;
  transition: transform 0.3s ease, border-color 0.3s ease;
  height: 40px;
  width: 40px;
}

.user-avatar:hover {
  transform: scale(1.1); 
  border-color: #007bff; 
}

@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 1rem;
    margin-left: 20px;
  }

  .user-info {
    margin-left: auto; 
    width: auto;
  }
}
